<!-- login.html -->

<div ng-app="loginModule">
	
	<h3 class="viewTitle">Log In</h3><br><br>
	
	<div  ng-controller="LoginController" ng-init="init()" class="viewBody">
	
		<b><label ng-bind="loginManager.actionStatus"></label></b><br><br>
		
		<span us-spinner="{radius:10, width:2, length: 4}" spinner-on="loginManager.showSpinner"></span>
		
		<form name="form" ng-hide="loginManager.hideLoginForm">
			<label>Username</label><br>
			<input ng-model="loginManager.username" type="text" required><br><br>
			<label>Password</label><br>
			<input ng-model="loginManager.password" type="password" required><br><br>
			<label>Remember Me:</label>
			<input ng-model="loginManager.rememberMe" type="checkbox"><br><br>
			<button ng-click="loginManager.login()" ng-disabled="form.$invalid">Login</button>
		</form>
	</div>
		
</div>