<!-- settings.html -->

<div ng-app='settingsModule'>

	<h3 class="viewTitle">Настройки</h3><br><br>
	
	<div ng-controller="SettingsController" class="viewBody">
	
		<form>
	
			<div id="labelChangePassword"><label><b>Смени парола</b></label></div><br><br>
				
				<div id="divChangePassword">
					<label  id="labelFirstPassword">Нова парола :</label><br>
					<input type="password"
								ng-model='settingsManager.inputFirstPassword'
								required/><br>
					<label  id="labelConfirmPassword">Повтори нова парола :</label><br>
					<input type="password"
								ng-model='settingsManager.inputConfirmPassword ' 
								required/><br><br>
					<label  id="labelCurrentPassword">Стара парола :</label><br>
					<input type="password"
								ng-model='settingsManager.inputCurrentPassword'  
								required/><br><br><br>
					<button ng-click="settingsManager.changePassword()">Смени</button><br><br>
					
					<b><label ng-bind="settingsManager.changePasswordStatus"></label></b>
				</div><br><br>
				
			</form>
	
	</div>
	
	<span us-spinner="{radius:20, width:2, length:56, lines:17}" spinner-on="settingsManager.showSpinner"></span>
	
</div>