<!-- users.html -->

<div ng-app='usersModule'>

	<h3 class="viewTitle">Потребители</h3><br><br>
	
	<div ng-controller="UsersController" class="viewBody">
	
		<form>
	
			<div id="labelAddUser"><label><b>Добави Потребител</b></label></div><br><br>
				
				<div id="divAddUser">
					<label  id="labelUsername">Име :</label>
					<input type="text"
								ng-model="userManager.inputAddUser"
								required/>
								
					<select ng-model="userManager.selectWorkerLabel"
								 ng-options="label for label in userManager.workerLabels">
					</select> &nbsp;  &nbsp;  &nbsp;
					
					<label>Работи :</label>
					<input type="checkbox"
								ng-model="userManager.checkBoxIsWorking"/> &nbsp;  &nbsp;  &nbsp;
					
					<button ng-click="userManager.addUserButtonClicked()">Добави</button><br><br>
					
					<b><label ng-bind="userManager.addUserStatus"></label></b>
				</div><br><br>
				
			</form>
			
			<form>
			
				<div id="labelChangeStatus"><label><b>Смени статус</b></label></div><br><br>
				
				<div id="divChangeStatus">
					
					<select ng-model="userManager.selectUser"
								 ng-options="user.username for user in userManager.usersArray"
								 ng-change='userManager.userChanged()'>
					</select>
					
					<select ng-model="userManager.selectChangeWorkerLabel"
								 ng-options="label for label in userManager.workerLabels">
					</select> &nbsp;  &nbsp;  &nbsp;
					
					<label>Работи :</label>
					<input type="checkbox"
								ng-model="userManager.checkBoxIsWorkingToChange"/> &nbsp;  &nbsp;  &nbsp;
					
					<button ng-click="userManager.changeStatusClicked()">Промени</button><br><br>
					
					<b><label ng-bind="userManager.changeUserStatus"></label></b>
				</div>
			</form>
	
	</div>
	
	<span us-spinner="{radius:20, width:2, length:56, lines:17}" spinner-on="userManager.showSpinner"></span>
	
</div>