<!-- daySelector.html -->

<form>

	<input type="checkbox" ng-model="daySelector.year.changeYear">
	<input type="text" ng-model="daySelector.year.name" ng-disabled="daySelector.year.changeYear == false">
	&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
	
	<select ng-model="daySelector.month.name" 
		ng-init="daySelector.month.name = daySelector.months[0]"
		ng-options="month for month in daySelector.months"
		ng-change="daySelector.dateChange()">
	</select>&nbsp; &nbsp; &nbsp; &nbsp;
	
	<select ng-model="daySelector.day.number"
		ng-init="daySelector.day.number = daySelector.days[0]"
		ng-options="day for day in daySelector.days"
		ng-change="daySelector.dateChange()">
	</select>&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
	<button ng-click="daySelector.showShift()" ng-hide="hideShowButton">Покажи</button><br><br><br><br>
	<span us-spinner="{radius:20, width:2, length:56, lines:17}" spinner-on="daySelector.showSpinner"></span>
	
</form>

<label ng-bind="daySelector.shiftStatus"></label>

<div ng-transclude></div>