<!-- peopleSelector.html -->

<label ng-bind="peopleSelector.shiftStatus"></label><br><br><br>

<form  ng-hide="peopleSelector.hideShift">
		
	<label>Панорама Мол</label><br><br>
	<label>Киномеханик :</label>
	<select ng-model="peopleSelector.panMehanik.name"  
				 ng-change="peopleSelector.checkMehanikForRepeat(true)"
				 ng-class="{'valid' : peopleSelector.panMehanik.valid, 'notValid' : !peopleSelector.panMehanik.valid}"  
				 ng-options="mehanik for mehanik in peopleSelector.mehanicy"
				 ng-disabled="viewOnly">			
	</select><br><br><br>
			
	<label>Касиерка 1 :</label>
	<select ng-model="peopleSelector.panKasaOne.name"  
				 ng-change="peopleSelector.checkKasaForRepeat(true)"
				 ng-class="{'valid' : peopleSelector.panKasaOne.valid, 'notValid' : !peopleSelector.panKasaOne.valid}" 
				 ng-options="kasa for kasa in peopleSelector.kasierky"
				 ng-disabled="viewOnly">
	</select>&nbsp; &nbsp; &nbsp; &nbsp;
			
	<label>Касиерка 2 :</label>
	<select ng-model="peopleSelector.panKasaTwo.name"  
				 ng-change="peopleSelector.checkKasaForRepeat(true)"
				 ng-class="{'valid' : peopleSelector.panKasaTwo.valid, 'notValid' : !peopleSelector.panKasaTwo.valid}" 
				 ng-options="kasa for kasa in peopleSelector.kasierky"
				 ng-disabled="viewOnly">
	</select>&nbsp; &nbsp; &nbsp; &nbsp;
			
	<label>Касиерка 3 :</label>
	<select ng-model="peopleSelector.panKasaThree.name"  
				 ng-change="peopleSelector.checkKasaForRepeat(true)"
				 ng-class="{'valid' : peopleSelector.panKasaThree.valid, 'notValid' : !peopleSelector.panKasaThree.valid}" 
				 ng-options="kasa for kasa in peopleSelector.kasierkyTreta"
				 ng-disabled="viewOnly">
	</select><br><br><br>		
			
	<label>Разпоредител 1 :</label>
	<select ng-model="peopleSelector.razporeditelOne.name" 
				 ng-change="peopleSelector.checkRazporeditelForRepeat(true)"
				 ng-class="{'valid' : peopleSelector.razporeditelOne.valid, 'notValid' : !peopleSelector.razporeditelOne.valid}"  
				 ng-options="razporeditel for razporeditel in peopleSelector.razporeditely"
				 ng-disabled="viewOnly">
	</select>&nbsp; &nbsp; &nbsp; &nbsp;
			
	<label>Разпоредител 2 :</label>
	<select ng-model="peopleSelector.razporeditelTwo.name" 
				 ng-change="peopleSelector.checkRazporeditelForRepeat(true)"
				 ng-class="{'valid' : peopleSelector.razporeditelTwo.valid, 'notValid' : !peopleSelector.razporeditelTwo.valid}"  
				 ng-options="razporeditel for razporeditel in peopleSelector.razporeditely"
				 ng-disabled="viewOnly">
	</select>
	<br><br><br><br>
	<label>Централ Мол</label><br><br>
	<label>Киномеханик :</label>
	<select ng-model="peopleSelector.cenMehanik.name" 
				 ng-change="peopleSelector.checkMehanikForRepeat(true)"
				 ng-class="{'valid' : peopleSelector.cenMehanik.valid, 'notValid' : !peopleSelector.cenMehanik.valid}"  
				 ng-options="mehanik for mehanik in peopleSelector.mehanicy"
				 ng-disabled="viewOnly">
	</select><br><br><br>
			
	<label>Касиерка :</label>
	<select ng-model="peopleSelector.cenKasa.name"  
				 ng-change="peopleSelector.checkKasaForRepeat(true)"
				 ng-class="{'valid' : peopleSelector.cenKasa.valid, 'notValid' : !peopleSelector.cenKasa.valid}" 
				 ng-options="kasa for kasa in peopleSelector.kasierky"
				 ng-disabled="viewOnly">
	</select><br><br><br>
	
	<button style="margin-left:500px;" ng-click="peopleSelector.saveShift()" ng-hide="hideButtonSaveShift">Добави</button>
	<button style="margin-left:500px;" ng-click="peopleSelector.changeShift()" ng-hide="hideButtonChangeShift">Промени</button>
</form>