/* 
	index.css 
*/

form {

	width: 100%;
}

#title {
	
	text-align: center;
}

.viewTitle {
	
	margin-left: 20%;
}

.viewBody {
	
	margin-left: 25%;
}

/* Day Selector ***************************************************************************************/

.daySelectorView {

	display: flex;
	flex-wrap: wrap;
}

#cheakBoxYear {

	order: 1;
}

#textBoxYear {

	order: 2;
}

#labelMonth {

	margin-left: 3%;
	order: 3;
}

#selectMonth {

	margin-left: 1%;
	order: 4;
}

#labelDay {

	margin-left: 3%;
	order: 5;
}

#selectDay {

	margin-left: 1%;
	order: 6;
}

#buttonShow {

	margin-left: 3%;
	order: 7;
}

#labelStatus {

	width: 100%;
	order: 8;
}

/* People Selector ***********************************************************************************/

.peopleSelectorView {
	
	display: flex;
	flex-wrap: wrap;
}


#labelPan {
	
	width: 100%;
	order: 1;
}

#panMehanik {

	width: 100%;
	margin-top: 5%;
	order: 2;
}

#kasaOne {
	
	width: 30%;
	margin-top: 3%;
	order: 3;
}

#kasaTwo {
	
	width: 30%;
	margin-top: 3%;
	order: 4;
}

#kasaThree {
	
	width: 30%;
	margin-top: 3%;
	order: 5;
}

#razporeditelOne {
	
	width: 30%;
	margin-top: 3%;
	order: 6;
}

#razporeditelTwo {
	
	width: 30%;
	margin-top: 3%;
	order: 7;
}

#labelCen {

	width: 100%;
	margin-top: 5%;
	order: 8;
}
#cenMehanik {
	
	width: 100%;
	margin-top: 3%;
	order: 9;
}

#cenKasa {
	
	width: 100%;
	margin-top: 3%;
	order: 10;
}

#actionButton {
	
	width: 100%;
	margin-top: 5%;
	margin-left: 60%;
	order: 11;
}

